
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,700&display=swap');

body{
    background-color: lightslategray;
    min-height: 90vh;
    font-family: 'Roboto', sans-serif;
    

}
.flexbox-container{
    display: flex;
    background-color: white;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    padding: 10px 20px;
    border: 2px solid red;
   
}
.writing{
    border: 2px red;
    background-color: aqua;
} 


#button{ 
    padding: 10px;
    background-color: black
    color: whitesmoke;
}
#input{
height: 40px;
}
.pics .img {
    height: 600px;
    border: 2px solid red;
}

.image-s {
    display: none;
}
/*mobile phones*/
@media  screen and (max-width: 600px){ 
    .flexbox-container{
        flex-direction: column-reverse;
        margin: 0;
        padding: 0;
    }

    .pics .img{
        display: none;
    }

    .image-s {
        display: flex;
        max-width: 100%;
}

    .writings {
        padding: 0 20px;
    }
    #input{
        width: 100%;
    }

}
